/* estilos para el footer y el numero de pagina */
@page { margin: 4em 50px 3em 30px; }
body{
  background-url: http://api.thumbr.it/whitenoise-361x370.png?;
}
p{
  word-wrap: break-word;
}
.header {
  border-bottom: 8px solid;
  border-bottom-color: cornflowerblue;
  border-bottom-style: double;
  position: fixed;
  width: 100%;
  left: 0px;
  top: -4em;
  right: 0px;
  height: auto;
  margin: 0px;
  }
.headerConfidencial {
  position: fixed;
  width: 100%;
  left: 0px;
  top: -2em;
  right: 0px;
  height: 2em;
  margin: 0px;
  text-align: center;
  }

.margin0 *{
  margin: 0px;
}

.content{
  padding: 0em 5%;
}
.footer .page:after {
    content: counter(page, upper-roman);
    height: 5em;
    background-color: black;
    top: -8em;
}

/* .content .titulo{
  text-align: center;
} */
.servicios ul{
  border-style: dashed;
  padding: 2% 8%;
}
.both{
  clear: both;
  margin-bottom: 1em;
}
.dosColumnas{
  float: left;
  width: 50%;
}
.ladoIzquierdo{
  float:left!important;
}
.ladoDerecho{
  float:right!important;
}
.borderer{
  border-style: dotted;
  margin: 0% 1%;
  padding: 1% 2%;
}
.bordererSolid{
  border-style: solid;
  margin: 0%;
}
.bordererSolidGris{
  border: 1px solid;
}

.titulo{
  text-align: center;
  }

.informeLecturaRapida{
  padding: 0% 5%;
}
.refLaboral{
  /* padding: 2% 5%; */
}
.domicilio{
  height: 13em!important;
}
.infoPostulanteConficencial{
  padding: 1em 1em 0em 1em;
}
.observacionConfidencial{
  height: 25em;
  margin: 0em 1em 1em 1em;
  padding: 1%;
 }
 .observacionConfidencial p{
   margin:0px;
 }
 .detalleConfidencial{
   text-align: center;
   height: 10em;
   margin: 0em 1em 1em 1em;
   padding: 1%;
  }
/* -------------------------------------------- */

/*
	Color fondo: #632432;
	Color header: 246355;
	Color borde: 0F362D;
	Color iluminado: 369681;
*/
table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

.informe th, .informe td{
	padding: 7px;
  border: solid 1px #0F362D;
}

.informe thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

.tipoFamilia{
	background-color: #246355;
	color: white;
  width: 10%;
}
.domicilioFamilia{
  width: 35%;
}
.profesionFamilia{
  width: 20%;
}


/* tr:nth-child(even){
	background-color: #ddd;
} */
